openapi: 3.1.0
info:
  version: 4.17.0
  title: openshift-rest-api BuildConfigs DeploymentConfigs API
  description: 'The OpenShift REST API provides programmatic access to Red Hat OpenShift

    Container Platform resources. This specification covers the core

    OpenShift-specific API groups including Routes (route.openshift.io/v1),

    Builds (build.openshift.io/v1), DeploymentConfigs (apps.openshift.io/v1),

    and Projects (project.openshift.io/v1). These APIs extend the Kubernetes

    API with capabilities for application routing, source-to-image builds,

    deployment strategies, and multi-tenant project management.'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://www.redhat.com/en/about/terms-use
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
    email: openshift-dev@redhat.com
servers:
- url: https://api.openshift.com
  description: OpenShift API Server
security:
- BearerToken: []
tags:
- name: DeploymentConfigs
  description: Manage OpenShift DeploymentConfigs which provide declarative deployment lifecycle management with rolling, recreate, and custom strategies, plus automatic rollback and deployment triggers.
paths:
  /apis/apps.openshift.io/v1/deploymentconfigs:
    get:
      operationId: listDeploymentConfigForAllNamespaces
      summary: Openshift List Deployment Configs Across All Namespaces
      description: List or watch DeploymentConfig objects across all namespaces.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs:
    get:
      operationId: listNamespacedDeploymentConfig
      summary: Openshift List Deployment Configs in a Namespace
      description: List or watch DeploymentConfig objects in the specified namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespacedDeploymentConfig
      summary: Openshift Create a Deployment Config
      description: Create a DeploymentConfig in the specified namespace. A DeploymentConfig defines the template for a pod and manages deploying new images or configuration changes.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}:
    get:
      operationId: readNamespacedDeploymentConfig
      summary: Openshift Read a Deployment Config
      description: Read the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfig
      summary: Openshift Replace a Deployment Config
      description: Replace the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: patchNamespacedDeploymentConfig
      summary: Openshift Patch a Deployment Config
      description: Partially update the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespacedDeploymentConfig
      summary: Openshift Delete a Deployment Config
      description: Delete the specified DeploymentConfig from the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status:
    get:
      operationId: readNamespacedDeploymentConfigStatus
      summary: Openshift Read Status of a Deployment Config
      description: Read the status of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfigStatus
      summary: Openshift Replace Status of a Deployment Config
      description: Replace the status of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale:
    get:
      operationId: readNamespacedDeploymentConfigScale
      summary: Openshift Read Scale of a Deployment Config
      description: Read the scale of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfigScale
      summary: Openshift Replace Scale of a Deployment Config
      description: Replace the scale of the specified DeploymentConfig to adjust the number of running replicas.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/rollback:
    post:
      operationId: createNamespacedDeploymentConfigRollback
      summary: Openshift Rollback a Deployment Config
      description: Create a rollback request for the specified DeploymentConfig to revert to a previous deployment revision.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfigRollback'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/log:
    get:
      operationId: readNamespacedDeploymentConfigLog
      summary: Openshift Read Deployment Config Log
      description: Read the log output from the latest deployment of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - name: container
        in: query
        description: The container for which to stream logs.
        schema:
          type: string
      - name: follow
        in: query
        description: Follow the log stream of the deployment.
        schema:
          type: boolean
      - name: sinceSeconds
        in: query
        description: A relative time in seconds before the current time from which to show logs.
        schema:
          type: integer
          format: int64
      - name: tailLines
        in: query
        description: Number of lines from the end of the log to show.
        schema:
          type: integer
          format: int64
      - name: timestamps
        in: query
        description: Add RFC3339 timestamps to each log line.
        schema:
          type: boolean
      - name: version
        in: query
        description: The deployment version for which to view logs.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeploymentConfigList:
      type: object
      description: A list of DeploymentConfig objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfigList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentConfig'
          example: []
    DeploymentConfigRollback:
      type: object
      description: A request to roll back a deployment to a previous version.
      required:
      - name
      - spec
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfigRollback
          example: example_value
        name:
          type: string
          description: Name of the deployment config to roll back.
          example: Example Title
        spec:
          type: object
          required:
          - from
          properties:
            from:
              $ref: '#/components/schemas/ObjectReference'
            revision:
              type: integer
              format: int64
              description: The revision to rollback to. If 0, the rollback target is the last successful deployment.
            includeTemplate:
              type: boolean
              description: If true, the rollback response includes the template of the rolled-back deployment.
            includeReplicationMeta:
              type: boolean
            includeStrategy:
              type: boolean
            includeTriggers:
              type: boolean
          example: example_value
    ObjectReference:
      type: object
      description: A reference to a Kubernetes object.
      properties:
        apiVersion:
          type: string
          example: example_value
        kind:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        namespace:
          type: string
          example: example_value
    RecreateDeploymentStrategyParams:
      type: object
      description: Parameters for a recreate deployment strategy.
      properties:
        timeoutSeconds:
          type: integer
          format: int64
          description: The time to wait for pods to terminate before giving up.
          default: 600
          example: 10
    ResourceRequirements:
      type: object
      description: Compute resource requirements for a container.
      properties:
        limits:
          type: object
          additionalProperties:
            type: string
          description: Maximum compute resources allowed (e.g., cpu, memory).
          example: example_value
        requests:
          type: object
          additionalProperties:
            type: string
          description: Minimum compute resources required (e.g., cpu, memory).
          example: example_value
    OwnerReference:
      type: object
      description: Contains information to identify an owning object.
      required:
      - apiVersion
      - kind
      - name
      - uid
      properties:
        apiVersion:
          type: string
          example: example_value
        kind:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        uid:
          type: string
          example: '500123'
        controller:
          type: boolean
          example: true
        blockOwnerDeletion:
          type: boolean
          example: true
    EnvVar:
      type: object
      description: An environment variable to set in a container.
      required:
      - name
      properties:
        name:
          type: string
          description: The environment variable name.
          example: Example Title
        value:
          type: string
          description: The environment variable value.
          example: example_value
    Status:
      type: object
      description: Status is a return value for calls that do not return other objects.
      properties:
        apiVersion:
          type: string
          default: v1
          example: example_value
        kind:
          type: string
          default: Status
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        status:
          type: string
          enum:
          - Success
          - Failure
          example: Success
        message:
          type: string
          example: example_value
        reason:
          type: string
          example: example_value
        code:
          type: integer
          format: int32
          example: 10
    DeploymentConfigSpec:
      type: object
      description: Specification for the desired deployment behavior.
      properties:
        replicas:
          type: integer
          format: int32
          description: The desired number of pod replicas.
          default: 1
          example: 10
        selector:
          type: object
          additionalProperties:
            type: string
          description: Label selector for pods managed by this deployment.
          example: example_value
        template:
          $ref: '#/components/schemas/PodTemplateSpec'
        strategy:
          $ref: '#/components/schemas/DeploymentStrategy'
        triggers:
          type: array
          description: Triggers that cause new deployments to be created.
          items:
            $ref: '#/components/schemas/DeploymentTriggerPolicy'
          example: []
        minReadySeconds:
          type: integer
          format: int32
          description: Minimum number of seconds a newly created pod should be ready without any of its containers crashing before considered available.
          example: 10
        revisionHistoryLimit:
          type: integer
          format: int32
          description: Number of old ReplicationControllers to retain for rollback.
          example: 10
        paused:
          type: boolean
          description: Indicates that the deployment config is paused and new deployments will not be triggered.
          example: true
        test:
          type: boolean
          description: If true, deployments are scaled down to zero after the deployment completes.
          example: true
    Scale:
      type: object
      description: Represents a scaling request for a resource.
      properties:
        apiVersion:
          type: string
          default: autoscaling/v1
          example: example_value
        kind:
          type: string
          default: Scale
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          type: object
          properties:
            replicas:
              type: integer
              format: int32
              description: The desired number of replicas.
          example: example_value
        status:
          type: object
          properties:
            replicas:
              type: integer
              format: int32
              description: The actual number of replicas.
            selector:
              type: string
              description: Label selector matching the pods managed by this deployment.
          example: example_value
    DeploymentStrategy:
      type: object
      description: Describes how to perform a deployment.
      properties:
        type:
          type: string
          description: The deployment strategy type.
          enum:
          - Rolling
          - Recreate
          - Custom
          default: Rolling
          example: Rolling
        rollingParams:
          $ref: '#/components/schemas/RollingDeploymentStrategyParams'
        recreateParams:
          $ref: '#/components/schemas/RecreateDeploymentStrategyParams'
        customParams:
          $ref: '#/components/schemas/CustomDeploymentStrategyParams'
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        activeDeadlineSeconds:
          type: integer
          format: int64
          description: Duration in seconds that the deployer pods may be active before the system retries the deployment.
          example: 10
    CustomDeploymentStrategyParams:
      type: object
      description: Parameters for a custom deployment strategy.
      properties:
        image:
          type: string
          description: The container image that runs the custom deployment logic.
          example: example_value
        environment:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        command:
          type: array
          items:
            type: string
          description: The command to execute in the custom deployer container.
          example: []
    PodSpec:
      type: object
      description: Specification of the desired behavior of a pod.
      properties:
        containers:
          type: array
          description: List of containers in the pod.
          items:
            $ref: '#/components/schemas/Container'
          example: []
        initContainers:
          type: array
          description: List of initialization containers.
          items:
            $ref: '#/components/schemas/Container'
          example: []
        restartPolicy:
          type: string
          enum:
          - Always
          - OnFailure
          - Never
          default: Always
          example: Always
        serviceAccountName:
          type: string
          description: Name of the ServiceAccount to use for the pod.
          example: example_value
        nodeSelector:
          type: object
          additionalProperties:
            type: string
          example: example_value
        volumes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              configMap:
                type: object
                properties:
                  name:
                    type: string
              secret:
                type: object
                properties:
                  secretName:
                    type: string
              persistentVolumeClaim:
                type: object
                properties:
                  claimName:
                    type: string
              emptyDir:
                type: object
          example: []
    DeploymentTriggerPolicy:
      type: object
      description: A policy that triggers new deployments.
      properties:
        type:
          type: string
          description: The type of deployment trigger.
          enum:
          - ConfigChange
          - ImageChange
          example: ConfigChange
        imageChangeParams:
          type: object
          description: Parameters for an ImageChange trigger.
          properties:
            automatic:
              type: boolean
              description: If true, deployments are automatically triggered when a new image is available.
            containerNames:
              type: array
              items:
                type: string
              description: Names of the containers to update when the image changes.
            from:
              $ref: '#/components/schemas/ObjectReference'
            lastTriggeredImage:
              type: string
              description: The image reference that triggered the last deployment.
          example: example_value
    PodTemplateSpec:
      type: object
      description: Describes the data a pod should have when created from a template.
      properties:
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/PodSpec'
    ListMeta:
      type: object
      description: Metadata for list responses including pagination tokens.
      properties:
        selfLink:
          type: string
          example: example_value
        resourceVersion:
          type: string
          example: example_value
        continue:
          type: string
          example: example_value
        remainingItemCount:
          type: integer
          format: int64
          example: 10
    DeploymentCondition:
      type: object
      description: Describes the state of a deployment at a point in time.
      properties:
        type:
          type: string
          description: The type of condition.
          enum:
          - Available
          - Progressing
          - ReplicaFailure
          example: Available
        status:
          type: string
          enum:
          - 'True'
          - 'False'
          - Unknown
          example: 'True'
        reason:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
        lastUpdateTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        lastTransitionTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    Container:
      type: object
      description: A single application container running within a pod.
      required:
      - name
      - image
      properties:
        name:
          type: string
          description: Name of the container.
          example: Example Title
        image:
          type: string
          description: Container image name.
          example: example_value
        command:
          type: array
          items:
            type: string
          description: Entrypoint array.
          example: []
        args:
          type: array
          items:
            type: string
          description: Arguments to the entrypoint.
          example: []
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        ports:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              containerPort:
                type: integer
                format: int32
              protocol:
                type: string
                enum:
                - TCP
                - UDP
                - SCTP
                default: TCP
          example: []
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        volumeMounts:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              mountPath:
                type: string
              readOnly:
                type: boolean
          example: []
        livenessProbe:
          $ref: '#/components/schemas/Probe'
        readinessProbe:
          $ref: '#/components/schemas/Probe'
        imagePullPolicy:
          type: string
          enum:
          - Always
          - Never
          - IfNotPresent
          example: Always
    DeploymentConfig:
      type: object
      description: A DeploymentConfig describes the desired state of a particular application deployment. It creates ReplicationControllers to manage pods and supports rolling, recreate, and custom deployment strategies with automatic rollback.
      required:
      - spec
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfig
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/DeploymentConfigSpec'
        status:
          $ref: '#/components/schemas/DeploymentConfigStatus'
    RollingDeploymentStrategyParams:
      type: object
      description: Parameters for a rolling deployment strategy.
      properties:
        updatePeriodSeconds:
          type: integer
          format: int64
          description: The time to wait between individual pod updates.
          example: 10
        intervalSeconds:
          type: integer
          format: int64
          description: The time to wait between polling deployment status.
          example: 10
        timeoutSeconds:
          type: integer
          format: int64
          description: The time to wait for a scaling event before giving up.
          default: 600
          example: 10
        maxUnavailable:
          oneOf:
          - type: string
          - type: integer
          description: The maximum number of pods that can be unavailable during the update. Value can be an absolute number or a percentage.
          default: 25%
          example: example_value
        maxSurge:
          oneOf:
          - type: string
          - type: integer
          description: The maximum number of pods that can be scheduled above the desired number of pods. Value can be an absolute number or a percentage.
          default: 25%
          example: example_value
    DeploymentConfigStatus:
      type: object
      description: Status of the DeploymentConfig.
      properties:
        latestVersion:
          type: integer
          format: int64
          description: The version of the most recent deployment.
          example: 10
        observedGeneration:
          type: integer
          format: int64
          description: The most recent generation observed by the deployment controller.
          example: 10
        replicas:
          type: integer
          format: int32
          description: Total number of non-terminated pods targeted by this deployment.
          example: 10
        updatedReplicas:
          type: integer
          format: int32
          description: Total number of non-terminated pods that have the desired template spec.
          example: 10
        availableReplicas:
          type: integer
          format: int32
          description: Total number of available pods targeted by this deployment.
          example: 10
        unavailableReplicas:
          type: integer
          format: int32
          description: Total number of unavailable pods targeted by this deployment.
          example: 10
        readyReplicas:
          type: integer
          format: int32
          description: Total number of ready pods targeted by this deployment.
          example: 10
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentCondition'
          example: []
    ObjectMeta:
      type: object
      description: Standard Kubernetes object metadata. Every resource includes metadata such as name, namespace, labels, and annotations.
      properties:
        name:
          type: string
          description: The name of the resource, unique within a namespace.
          example: Example Title
        namespace:
          type: string
          description: The namespace in which the resource resides.
          example: example_value
        uid:
          type: string
          format: uuid
          description: A unique identifier for the resource set by the server.
          example: '500123'
        resourceVersion:
          type: string
          description: An opaque value representing the internal version of the object.
          example: example_value
        generation:
          type: integer
          format: int64
          description: A sequence number representing a specific generation of the desired state.
          example: 10
        creationTimestamp:
          type: string
          format: date-time
          description: Timestamp representing when the object was created.
          example: '2026-01-15T10:30:00Z'
        deletionTimestamp:
          type: string
          format: date-time
          description: Timestamp at which the object will be deleted.
          example: '2026-01-15T10:30:00Z'
        labels:
          type: object
          additionalProperties:
            type: string
          description: Map of string keys and values that can be used to organize and categorize objects.
          example: example_value
        annotations:
          type: object
          additionalProperties:
            type: string
          description: Unstructured key-value map stored with a resource for arbitrary metadata.
          example: example_value
        ownerReferences:
          type: array
          items:
            $ref: '#/components/schemas/OwnerReference'
          description: List of objects depended by this object.
          example: []
        finalizers:
          type: array
          items:
            type: string
          description: Must be empty before the object is deleted from the registry.
          example: []
    Probe:
      type: object
      description: Describes a health check to be performed against a container.
      properties:
        httpGet:
          type: object
          properties:
            path:
              type: string
            port:
              oneOf:
              - type: string
              - type: integer
            scheme:
              type: string
              enum:
              - HTTP
              - HTTPS
          example: example_value
        tcpSocket:
          type: object
          properties:
            port:
              oneOf:
              - type: string
              - type: integer
          example: example_value
        exec:
          type: object
          properties:
            command:
              type: array
              items:
                type: string
          example: example_value
        initialDelaySeconds:
          type: integer
          format: int32
          example: 10
        periodSeconds:
          type: integer
          format: int32
          example: 10
        timeoutSeconds:
          type: integer
          format: int32
          example: 10
        successThreshold:
          type: integer
          format: int32
          example: 10
        failureThreshold:
          type: integer
          format: int32
          example: 10
  parameters:
    name:
      name: name
      in: path
      required: true
      description: Name of the resource.
      schema:
        type: string
    allowWatchBookmarks:
      name: allowWatchBookmarks
      in: query
      description: Allow watch bookmarks. Bookmarks report the resourceVersion to which the set of watched resources is synced.
      schema:
        type: boolean
    watch:
      name: watch
      in: query
      description: Watch for changes to the described resources and return them as a stream of add, update, and remove notifications.
      schema:
        type: boolean
    continue:
      name: continue
      in: query
      description: The continue token for paging through large result sets.
      schema:
        type: string
    pretty:
      name: pretty
      in: query
      description: If true, the output is pretty-printed.
      schema:
        type: string
    namespace:
      name: namespace
      in: path
      required: true
      description: The namespace (project) scope for the resource.
      schema:
        type: string
    propagationPolicy:
      name: propagationPolicy
      in: query
      description: Whether and how garbage collection will be performed. Either Orphan, Background, or Foreground.
      schema:
        type: string
        enum:
        - Orphan
        - Background
        - Foreground
    fieldManager:
      name: fieldManager
      in: query
      description: A name associated with the actor or entity making the change. Used for server-side apply to track field ownership.
      schema:
        type: string
    labelSelector:
      name: labelSelector
      in: query
      description: A selector to restrict the list of returned objects by their labels.
      schema:
        type: string
    dryRun:
      name: dryRun
      in: query
      description: When present, indicates that modifications should not be persisted. Valid values are All (all dry run stages will be processed).
      schema:
        type: string
    resourceVersion:
      name: resourceVersion
      in: query
      description: Specifies the resource version to match or list from.
      schema:
        type: string
    fieldSelector:
      name: fieldSelector
      in: query
      description: A selector to restrict the list of returned objects by their fields.
      schema:
        type: string
    gracePeriodSeconds:
      name: gracePeriodSeconds
      in: query
      description: The duration in seconds before the object should be deleted. The value zero indicates delete immediately.
      schema:
        type: integer
        format: int64
    limit:
      name: limit
      in: query
      description: Maximum number of responses to return for a list call.
      schema:
        type: integer
        format: int64
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth bearer token obtained from the OpenShift OAuth server. Use 'oc whoami -t' to retrieve a token, or configure an OAuth client for programmatic access.
externalDocs:
  description: OpenShift Container Platform REST API Reference
  url: https://docs.openshift.com/container-platform/4.17/rest_api/index.html
