openapi: 3.1.0
info:
  version: 4.17.0
  title: openshift-rest-api
  description: |-
    The OpenShift REST API provides programmatic access to Red Hat OpenShift
    Container Platform resources. This specification covers the core
    OpenShift-specific API groups including Routes (route.openshift.io/v1),
    Builds (build.openshift.io/v1), DeploymentConfigs (apps.openshift.io/v1),
    and Projects (project.openshift.io/v1). These APIs extend the Kubernetes
    API with capabilities for application routing, source-to-image builds,
    deployment strategies, and multi-tenant project management.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://www.redhat.com/en/about/terms-use
  contact:
    name: Red Hat OpenShift Support
    url: https://access.redhat.com/support
    email: openshift-dev@redhat.com

servers:
- url: https://api.openshift.com
  description: OpenShift API Server

externalDocs:
  description: OpenShift Container Platform REST API Reference
  url: https://docs.openshift.com/container-platform/4.17/rest_api/index.html

tags:
- name: BuildConfigs
  description: >-
    Manage build configuration templates that define how to transform
    source code into container images using Source, Docker, or Custom
    build strategies with configurable triggers.
- name: Builds
  description: >-
    Manage builds and build configurations for source-to-image, Docker,
    and custom build strategies. Builds compile source code into runnable
    container images.
- name: DeploymentConfigs
  description: >-
    Manage OpenShift DeploymentConfigs which provide declarative deployment
    lifecycle management with rolling, recreate, and custom strategies,
    plus automatic rollback and deployment triggers.
- name: ProjectRequests
  description: >-
    Request creation of new projects. ProjectRequests are the mechanism
    through which users provision new projects subject to cluster policy.

- name: Projects
  description: >-
    Manage OpenShift projects which extend Kubernetes namespaces with
    additional metadata, access controls, and resource isolation for
    multi-tenant environments.
- name: Routes
  description: >-
    Manage application routes that expose services at a hostname. Routes
    provide external access to services via HTTP/HTTPS, with support for
    TLS termination strategies including edge, passthrough, and re-encrypt.
paths:

  # ============================================================
  # Routes - route.openshift.io/v1
  # ============================================================

  /apis/route.openshift.io/v1/routes:
    get:
      operationId: listRouteForAllNamespaces
      summary: Openshift List Routes Across All Namespaces
      description: >-
        List or watch Route objects across all namespaces. Requires
        cluster-level read access to routes.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteList'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/route.openshift.io/v1/namespaces/{namespace}/routes:
    get:
      operationId: listNamespacedRoute
      summary: Openshift List Routes in a Namespace
      description: >-
        List or watch Route objects in the specified namespace.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespacedRoute
      summary: Openshift Create a Route
      description: >-
        Create a Route in the specified namespace. A route exposes a service
        at an externally reachable hostname.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/route.openshift.io/v1/namespaces/{namespace}/routes/{name}:
    get:
      operationId: readNamespacedRoute
      summary: Openshift Read a Route
      description: >-
        Read the specified Route in the given namespace.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedRoute
      summary: Openshift Replace a Route
      description: >-
        Replace the specified Route in the given namespace.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: patchNamespacedRoute
      summary: Openshift Patch a Route
      description: >-
        Partially update the specified Route in the given namespace.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/Route'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/Route'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespacedRoute
      summary: Openshift Delete a Route
      description: >-
        Delete the specified Route from the given namespace.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/route.openshift.io/v1/namespaces/{namespace}/routes/{name}/status:
    get:
      operationId: readNamespacedRouteStatus
      summary: Openshift Read Status of a Route
      description: >-
        Read the status of the specified Route.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedRouteStatus
      summary: Openshift Replace Status of a Route
      description: >-
        Replace the status of the specified Route.
      tags:
      - Routes
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          description: Unauthorized

  # ============================================================
  # Builds - build.openshift.io/v1
  # ============================================================

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/builds:
    get:
      operationId: listBuildForAllNamespaces
      summary: Openshift List Builds Across All Namespaces
      description: >-
        List or watch Build objects across all namespaces.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildList'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/builds:
    get:
      operationId: listNamespacedBuild
      summary: Openshift List Builds in a Namespace
      description: >-
        List or watch Build objects in the specified namespace.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespacedBuild
      summary: Openshift Create a Build
      description: >-
        Create a Build in the specified namespace. A Build represents a single
        execution of a build process that transforms source into a container image.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Build'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/builds/{name}:
    get:
      operationId: readNamespacedBuild
      summary: Openshift Read a Build
      description: >-
        Read the specified Build in the given namespace.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedBuild
      summary: Openshift Replace a Build
      description: >-
        Replace the specified Build in the given namespace.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Build'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespacedBuild
      summary: Openshift Delete a Build
      description: >-
        Delete the specified Build from the given namespace.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/builds/{name}/log:
    get:
      operationId: readNamespacedBuildLog
      summary: Openshift Read Build Log
      description: >-
        Read the log output from the specified Build.
      tags:
      - Builds
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - name: container
        in: query
        description: The container for which to stream logs.
        schema:
          type: string
      - name: follow
        in: query
        description: Follow the log stream of the build.
        schema:
          type: boolean
      - name: sinceSeconds
        in: query
        description: >-
          A relative time in seconds before the current time from which to
          show logs.
        schema:
          type: integer
          format: int64
      - name: tailLines
        in: query
        description: Number of lines from the end of the log to show.
        schema:
          type: integer
          format: int64
      - name: timestamps
        in: query
        description: Add RFC3339 timestamps to each log line.
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized

  # ============================================================
  # BuildConfigs - build.openshift.io/v1
  # ============================================================

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/buildconfigs:
    get:
      operationId: listBuildConfigForAllNamespaces
      summary: Openshift List Build Configs Across All Namespaces
      description: >-
        List or watch BuildConfig objects across all namespaces.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfigList'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/buildconfigs:
    get:
      operationId: listNamespacedBuildConfig
      summary: Openshift List Build Configs in a Namespace
      description: >-
        List or watch BuildConfig objects in the specified namespace.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfigList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespacedBuildConfig
      summary: Openshift Create a Build Config
      description: >-
        Create a BuildConfig in the specified namespace. A BuildConfig defines
        the build strategy and source to produce container images.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/buildconfigs/{name}:
    get:
      operationId: readNamespacedBuildConfig
      summary: Openshift Read a Build Config
      description: >-
        Read the specified BuildConfig in the given namespace.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedBuildConfig
      summary: Openshift Replace a Build Config
      description: >-
        Replace the specified BuildConfig in the given namespace.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespacedBuildConfig
      summary: Openshift Delete a Build Config
      description: >-
        Delete the specified BuildConfig from the given namespace.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/build.openshift.io/v1/namespaces/{namespace}/buildconfigs/{name}/instantiate:
    post:
      operationId: createNamespacedBuildConfigInstantiate
      summary: Openshift Instantiate a Build From a Build Config
      description: >-
        Trigger a new build from the specified BuildConfig.
      tags:
      - BuildConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: Unauthorized

  # ============================================================
  # DeploymentConfigs - apps.openshift.io/v1
  # ============================================================

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/deploymentconfigs:
    get:
      operationId: listDeploymentConfigForAllNamespaces
      summary: Openshift List Deployment Configs Across All Namespaces
      description: >-
        List or watch DeploymentConfig objects across all namespaces.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigList'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs:
    get:
      operationId: listNamespacedDeploymentConfig
      summary: Openshift List Deployment Configs in a Namespace
      description: >-
        List or watch DeploymentConfig objects in the specified namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfigList'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNamespacedDeploymentConfig
      summary: Openshift Create a Deployment Config
      description: >-
        Create a DeploymentConfig in the specified namespace. A
        DeploymentConfig defines the template for a pod and manages deploying
        new images or configuration changes.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}:
    get:
      operationId: readNamespacedDeploymentConfig
      summary: Openshift Read a Deployment Config
      description: >-
        Read the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfig
      summary: Openshift Replace a Deployment Config
      description: >-
        Replace the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: patchNamespacedDeploymentConfig
      summary: Openshift Patch a Deployment Config
      description: >-
        Partially update the specified DeploymentConfig in the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
          application/strategic-merge-patch+json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNamespacedDeploymentConfig
      summary: Openshift Delete a Deployment Config
      description: >-
        Delete the specified DeploymentConfig from the given namespace.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status:
    get:
      operationId: readNamespacedDeploymentConfigStatus
      summary: Openshift Read Status of a Deployment Config
      description: >-
        Read the status of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfigStatus
      summary: Openshift Replace Status of a Deployment Config
      description: >-
        Replace the status of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale:
    get:
      operationId: readNamespacedDeploymentConfigScale
      summary: Openshift Read Scale of a Deployment Config
      description: >-
        Read the scale of the specified DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceNamespacedDeploymentConfigScale
      summary: Openshift Replace Scale of a Deployment Config
      description: >-
        Replace the scale of the specified DeploymentConfig to adjust the
        number of running replicas.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scale'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scale'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/rollback:
    post:
      operationId: createNamespacedDeploymentConfigRollback
      summary: Openshift Rollback a Deployment Config
      description: >-
        Create a rollback request for the specified DeploymentConfig to revert
        to a previous deployment revision.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfigRollback'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentConfig'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/log:
    get:
      operationId: readNamespacedDeploymentConfigLog
      summary: Openshift Read Deployment Config Log
      description: >-
        Read the log output from the latest deployment of the specified
        DeploymentConfig.
      tags:
      - DeploymentConfigs
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/namespace'
      - name: container
        in: query
        description: The container for which to stream logs.
        schema:
          type: string
      - name: follow
        in: query
        description: Follow the log stream of the deployment.
        schema:
          type: boolean
      - name: sinceSeconds
        in: query
        description: >-
          A relative time in seconds before the current time from which to
          show logs.
        schema:
          type: integer
          format: int64
      - name: tailLines
        in: query
        description: Number of lines from the end of the log to show.
        schema:
          type: integer
          format: int64
      - name: timestamps
        in: query
        description: Add RFC3339 timestamps to each log line.
        schema:
          type: boolean
      - name: version
        in: query
        description: The deployment version for which to view logs.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized

  # ============================================================
  # Projects - project.openshift.io/v1
  # ============================================================

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/project.openshift.io/v1/projects:
    get:
      operationId: listProject
      summary: Openshift List Projects
      description: >-
        List or watch Project objects. Projects are OpenShift's extension of
        Kubernetes namespaces providing multi-tenant isolation.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/allowWatchBookmarks'
      - $ref: '#/components/parameters/continue'
      - $ref: '#/components/parameters/fieldSelector'
      - $ref: '#/components/parameters/labelSelector'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/resourceVersion'
      - $ref: '#/components/parameters/watch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/project.openshift.io/v1/projects/{name}:
    get:
      operationId: readProject
      summary: Openshift Read a Project
      description: >-
        Read the specified Project.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: replaceProject
      summary: Openshift Replace a Project
      description: >-
        Replace the specified Project.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteProject
      summary: Openshift Delete a Project
      description: >-
        Delete the specified Project and all of its resources.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/gracePeriodSeconds'
      - $ref: '#/components/parameters/propagationPolicy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /apis/project.openshift.io/v1/projectrequests:
    get:
      operationId: listProjectRequest
      summary: Openshift List Project Requests
      description: >-
        List ProjectRequest objects. Returns the project request template
        status.
      tags:
      - ProjectRequests
      parameters:
      - $ref: '#/components/parameters/pretty'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createProjectRequest
      summary: Openshift Create a Project Request
      description: >-
        Create a ProjectRequest to provision a new project. This is the
        preferred mechanism for project creation as it respects cluster
        project request templates and policies.
      tags:
      - ProjectRequests
      parameters:
      - $ref: '#/components/parameters/pretty'
      - $ref: '#/components/parameters/dryRun'
      - $ref: '#/components/parameters/fieldManager'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized

      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:

  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth bearer token obtained from the OpenShift OAuth server. Use
        'oc whoami -t' to retrieve a token, or configure an OAuth client
        for programmatic access.

  parameters:
    name:
      name: name
      in: path
      required: true
      description: Name of the resource.
      schema:
        type: string
    namespace:
      name: namespace
      in: path
      required: true
      description: >-
        The namespace (project) scope for the resource.
      schema:
        type: string
    pretty:
      name: pretty
      in: query
      description: >-
        If true, the output is pretty-printed.
      schema:
        type: string
    dryRun:
      name: dryRun
      in: query
      description: >-
        When present, indicates that modifications should not be persisted.
        Valid values are All (all dry run stages will be processed).
      schema:
        type: string
    fieldManager:
      name: fieldManager
      in: query
      description: >-
        A name associated with the actor or entity making the change.
        Used for server-side apply to track field ownership.
      schema:
        type: string
    fieldSelector:
      name: fieldSelector
      in: query
      description: >-
        A selector to restrict the list of returned objects by their fields.
      schema:
        type: string
    labelSelector:
      name: labelSelector
      in: query
      description: >-
        A selector to restrict the list of returned objects by their labels.
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: >-
        Maximum number of responses to return for a list call.
      schema:
        type: integer
        format: int64
    continue:
      name: continue
      in: query
      description: >-
        The continue token for paging through large result sets.
      schema:
        type: string
    resourceVersion:
      name: resourceVersion
      in: query
      description: >-
        Specifies the resource version to match or list from.
      schema:
        type: string
    watch:
      name: watch
      in: query
      description: >-
        Watch for changes to the described resources and return them as a
        stream of add, update, and remove notifications.
      schema:
        type: boolean
    allowWatchBookmarks:
      name: allowWatchBookmarks
      in: query
      description: >-
        Allow watch bookmarks. Bookmarks report the resourceVersion to
        which the set of watched resources is synced.
      schema:
        type: boolean
    gracePeriodSeconds:
      name: gracePeriodSeconds
      in: query
      description: >-
        The duration in seconds before the object should be deleted. The
        value zero indicates delete immediately.
      schema:
        type: integer
        format: int64
    propagationPolicy:
      name: propagationPolicy
      in: query
      description: >-
        Whether and how garbage collection will be performed. Either
        Orphan, Background, or Foreground.
      schema:
        type: string
        enum:
        - Orphan
        - Background
        - Foreground

  schemas:

    # -------------------------------------------------------
    # Common Kubernetes object metadata
    # -------------------------------------------------------

    ObjectMeta:
      type: object
      description: >-
        Standard Kubernetes object metadata. Every resource includes
        metadata such as name, namespace, labels, and annotations.
      properties:
        name:
          type: string
          description: >-
            The name of the resource, unique within a namespace.
          example: Example Title
        namespace:
          type: string
          description: >-
            The namespace in which the resource resides.
          example: example_value
        uid:
          type: string
          format: uuid
          description: >-
            A unique identifier for the resource set by the server.
          example: '500123'
        resourceVersion:
          type: string
          description: >-
            An opaque value representing the internal version of the object.
          example: example_value
        generation:
          type: integer
          format: int64
          description: >-
            A sequence number representing a specific generation of the
            desired state.
          example: 10
        creationTimestamp:
          type: string
          format: date-time
          description: >-
            Timestamp representing when the object was created.
          example: '2026-01-15T10:30:00Z'
        deletionTimestamp:
          type: string
          format: date-time
          description: >-
            Timestamp at which the object will be deleted.
          example: '2026-01-15T10:30:00Z'
        labels:
          type: object
          additionalProperties:
            type: string
          description: >-
            Map of string keys and values that can be used to organize and
            categorize objects.
          example: example_value
        annotations:
          type: object
          additionalProperties:
            type: string
          description: >-
            Unstructured key-value map stored with a resource for arbitrary
            metadata.
          example: example_value
        ownerReferences:
          type: array
          items:
            $ref: '#/components/schemas/OwnerReference'
          description: >-
            List of objects depended by this object.
          example: []
        finalizers:
          type: array
          items:
            type: string
          description: >-
            Must be empty before the object is deleted from the registry.

          example: []
    OwnerReference:
      type: object
      description: >-
        Contains information to identify an owning object.
      required:
      - apiVersion
      - kind
      - name
      - uid
      properties:
        apiVersion:
          type: string
          example: example_value
        kind:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        uid:
          type: string
          example: '500123'
        controller:
          type: boolean
          example: true
        blockOwnerDeletion:
          type: boolean

          example: true
    ListMeta:
      type: object
      description: >-
        Metadata for list responses including pagination tokens.
      properties:
        selfLink:
          type: string
          example: example_value
        resourceVersion:
          type: string
          example: example_value
        continue:
          type: string
          example: example_value
        remainingItemCount:
          type: integer
          format: int64

          example: 10
    Status:
      type: object
      description: >-
        Status is a return value for calls that do not return other objects.
      properties:
        apiVersion:
          type: string
          default: v1
          example: example_value
        kind:
          type: string
          default: Status
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        status:
          type: string
          enum:
          - Success
          - Failure
          example: Success
        message:
          type: string
          example: example_value
        reason:
          type: string
          example: example_value
        code:
          type: integer
          format: int32

    # -------------------------------------------------------
    # Route - route.openshift.io/v1
    # -------------------------------------------------------

          example: 10
    Route:
      type: object
      description: >-
        A Route exposes a service at a hostname, enabling external access
        to applications in the cluster. Routes support TLS termination
        strategies including edge, passthrough, and re-encrypt.
      required:
      - spec
      properties:
        apiVersion:
          type: string
          default: route.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: Route
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/RouteSpec'
        status:
          $ref: '#/components/schemas/RouteStatus'

    RouteSpec:
      type: object
      description: >-
        Desired state of the Route resource.
      required:
      - to
      properties:
        host:
          type: string
          description: >-
            The desired hostname for the route. If not specified, a hostname
            is generated by the router.
          example: myapp.apps.openshift.example.com
        path:
          type: string
          description: >-
            The path that the router watches to route traffic to the service.
            Only used for path-based routing with edge or re-encrypt TLS
            termination.
          example: /api
        subdomain:
          type: string
          description: >-
            A DNS subdomain request. If set, the route hostname is
            composed using this value and the ingress domain.
          example: example_value
        to:
          $ref: '#/components/schemas/RouteTargetReference'
        alternateBackends:
          type: array
          description: >-
            Up to 3 additional backends for A/B testing. Traffic is split
            among the backends according to their weights.
          items:
            $ref: '#/components/schemas/RouteTargetReference'
          maxItems: 3
          example: []
        port:
          $ref: '#/components/schemas/RoutePort'
        tls:
          $ref: '#/components/schemas/TLSConfig'
        wildcardPolicy:
          type: string
          description: >-
            The wildcard policy for the hostname. None disallows wildcard
            routes, Subdomain allows wildcard routes with subdomains.
          enum:
          - None
          - Subdomain
          default: None

          example: None
    RouteTargetReference:
      type: object
      description: >-
        Specifies the target that traffic is routed to. Weight controls
        the proportion of traffic sent to this backend.
      required:
      - kind
      - name
      properties:
        kind:
          type: string
          description: The kind of target, typically Service.
          enum:
          - Service
          default: Service
          example: Service
        name:
          type: string
          description: Name of the target service.
          example: Example Title
        weight:
          type: integer
          format: int32
          description: >-
            Relative weight for traffic distribution (0-256). A zero weight
            causes no traffic to be sent to this backend.
          minimum: 0
          maximum: 256
          default: 100

          example: 10
    RoutePort:
      type: object
      description: >-
        Route port configuration that specifies which service port the
        route points to.
      required:
      - targetPort
      properties:
        targetPort:
          oneOf:
          - type: string
          - type: integer
          description: >-
            The target port on pods selected by the service this route
            points to. Can be a port name or number.

          example: example_value
    TLSConfig:
      type: object
      description: >-
        TLS configuration for the route. Determines how TLS connections
        are handled at the router.
      properties:
        termination:
          type: string
          description: >-
            Indicates termination type. Edge terminates TLS at the router,
            passthrough forwards encrypted traffic to the backend, and
            re-encrypt terminates at the router and re-encrypts to the
            backend.
          enum:
          - edge
          - passthrough
          - reencrypt
          example: edge
        certificate:
          type: string
          description: >-
            PEM-encoded certificate for the route. Required for edge and
            re-encrypt termination if not using a default certificate.
          example: example_value
        key:
          type: string
          description: >-
            PEM-encoded private key for the route certificate.
          example: example_value
        caCertificate:
          type: string
          description: >-
            PEM-encoded CA certificate chain used to verify client
            certificates.
          example: example_value
        destinationCACertificate:
          type: string
          description: >-
            PEM-encoded CA certificate used to verify the backend server
            certificate. Only applicable for re-encrypt termination.
          example: example_value
        insecureEdgeTerminationPolicy:
          type: string
          description: >-
            Policy for handling insecure (HTTP) traffic when TLS is
            configured. None disables insecure traffic, Allow permits it,
            Redirect sends a 301 redirect to the HTTPS URL.
          enum:
          - None
          - Allow
          - Redirect

          example: None
    RouteStatus:
      type: object
      description: >-
        Current state of the Route.
      properties:
        ingress:
          type: array
          description: >-
            Status entries for each router that has admitted the route.
          items:
            $ref: '#/components/schemas/RouteIngress'

          example: []
    RouteIngress:
      type: object
      description: >-
        Holds information about the places where a route is exposed.
      properties:
        host:
          type: string
          description: The hostname assigned to the route by the router.
          example: example_value
        routerName:
          type: string
          description: The name of the router that admitted this route.
          example: example_value
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/RouteIngressCondition'
          example: []
        wildcardPolicy:
          type: string
          description: The wildcard policy applied by the router.

          example: example_value
    RouteIngressCondition:
      type: object
      description: >-
        Describes the state of a route at a point in time.
      properties:
        type:
          type: string
          description: The type of the condition (e.g., Admitted).
          example: example_value
        status:
          type: string
          enum:
          - 'True'
          - 'False'
          - Unknown
          example: 'True'
        reason:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
        lastTransitionTime:
          type: string
          format: date-time

          example: '2026-01-15T10:30:00Z'
    RouteList:
      type: object
      description: >-
        A list of Route objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: route.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: RouteList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Route'

    # -------------------------------------------------------
    # Build - build.openshift.io/v1
    # -------------------------------------------------------

          example: []
    Build:
      type: object
      description: >-
        A Build represents a single execution of a build process that
        transforms source code into a runnable container image. Builds
        are created from BuildConfigs or instantiated directly.
      required:
      - spec
      properties:
        apiVersion:
          type: string
          default: build.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: Build
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/BuildSpec'
        status:
          $ref: '#/components/schemas/BuildStatus'

    BuildSpec:
      type: object
      description: >-
        Specification of the desired build behavior.
      properties:
        serviceAccount:
          type: string
          description: >-
            The name of the ServiceAccount to use to run the build pod.
          default: builder
          example: example_value
        source:
          $ref: '#/components/schemas/BuildSource'
        strategy:
          $ref: '#/components/schemas/BuildStrategy'
        output:
          $ref: '#/components/schemas/BuildOutput'
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        completionDeadlineSeconds:
          type: integer
          format: int64
          description: >-
            Optional duration in seconds the build may run before the system
            terminates it. The countdown starts from the time the build pod
            is scheduled.
          example: 10
        nodeSelector:
          type: object
          additionalProperties:
            type: string
          description: >-
            Selector which must match a node's labels for the build pod to
            be scheduled on that node.
          example: example_value
        triggeredBy:
          type: array
          description: >-
            Describes which triggers started the most recent build.
          items:
            $ref: '#/components/schemas/BuildTriggerCause'

          example: []
    BuildSource:
      type: object
      description: >-
        Specifies the source code location and type for the build input.
      properties:
        type:
          type: string
          description: The type of source input.
          enum:
          - Git
          - Dockerfile
          - Binary
          - Image
          - None
          example: Git
        git:
          type: object
          description: Git source location.
          properties:
            uri:
              type: string
              format: uri
              description: The URL of the Git repository.
            ref:
              type: string
              description: >-
                The Git branch, tag, or commit to build.
          example: example_value
        dockerfile:
          type: string
          description: >-
            The Dockerfile content used as build input.
          example: example_value
        contextDir:
          type: string
          description: >-
            The subdirectory within the source repository used as the
            context for the build.
          example: example_value
        sourceSecret:
          type: object
          description: >-
            Secret holding credentials for accessing the source repository.
          properties:
            name:
              type: string

          example: example_value
    BuildStrategy:
      type: object
      description: >-
        Describes how to perform the build.
      properties:
        type:
          type: string
          description: The type of build strategy.
          enum:
          - Source
          - Docker
          - Custom
          example: Source
        sourceStrategy:
          $ref: '#/components/schemas/SourceBuildStrategy'
        dockerStrategy:
          $ref: '#/components/schemas/DockerBuildStrategy'
        customStrategy:
          $ref: '#/components/schemas/CustomBuildStrategy'

    SourceBuildStrategy:
      type: object
      description: >-
        Source-to-Image (S2I) build strategy that combines application
        source with a builder image to produce a runnable image.
      required:
      - from
      properties:
        from:
          $ref: '#/components/schemas/ObjectReference'
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        scripts:
          type: string
          description: >-
            URL of S2I scripts to use instead of the ones in the builder image.
          example: example_value
        incremental:
          type: boolean
          description: >-
            Attempt to perform an incremental build reusing artifacts
            from a prior build.
          example: true
        forcePull:
          type: boolean
          description: >-
            Overrides the default pull behavior and forces a pull of the
            builder image before the build.

          example: true
    DockerBuildStrategy:
      type: object
      description: >-
        Docker build strategy that uses a Dockerfile to build images.
      properties:
        from:
          $ref: '#/components/schemas/ObjectReference'
        dockerfilePath:
          type: string
          description: >-
            Path of the Dockerfile relative to the context directory.
          example: example_value
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        noCache:
          type: boolean
          description: >-
            If true, Docker build caching is disabled.
          example: true
        forcePull:
          type: boolean
          description: >-
            Forces a pull of the base image before the build.
          example: true
        buildArgs:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          description: >-
            Specifies build arguments to pass to Docker.

          example: []
    CustomBuildStrategy:
      type: object
      description: >-
        Custom build strategy that uses a custom builder image to execute
        an arbitrary build process.
      required:
      - from
      properties:
        from:
          $ref: '#/components/schemas/ObjectReference'
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        exposeDockerSocket:
          type: boolean
          description: >-
            If true, the Docker socket is exposed inside the build container.
          example: true
        forcePull:
          type: boolean
          description: >-
            Forces a pull of the custom builder image before the build.

          example: true
    BuildOutput:
      type: object
      description: >-
        Specifies where the resulting container image is pushed.
      properties:
        to:
          $ref: '#/components/schemas/ObjectReference'
        pushSecret:
          type: object
          description: >-
            Secret holding credentials for pushing to the output registry.
          properties:
            name:
              type: string

          example: example_value
    BuildTriggerCause:
      type: object
      description: >-
        Records which event triggered the build.
      properties:
        message:
          type: string
          description: Short human-readable description of the trigger.

          example: example_value
    BuildStatus:
      type: object
      description: >-
        Status of the build execution.
      properties:
        phase:
          type: string
          description: The current phase of the build.
          enum:
          - New
          - Pending
          - Running
          - Complete
          - Failed
          - Error
          - Cancelled
          example: New
        cancelled:
          type: boolean
          description: Whether the build was cancelled.
          example: true
        message:
          type: string
          description: Human-readable message about the build status.
          example: example_value
        reason:
          type: string
          description: >-
            Brief machine-readable reason for the build status.
          example: example_value
        startTimestamp:
          type: string
          format: date-time
          description: Timestamp when the build started running.
          example: '2026-01-15T10:30:00Z'
        completionTimestamp:
          type: string
          format: date-time
          description: Timestamp when the build completed.
          example: '2026-01-15T10:30:00Z'
        duration:
          type: integer
          format: int64
          description: >-
            Duration of the build in nanoseconds.
          example: 10
        outputDockerImageReference:
          type: string
          description: >-
            The Docker image reference of the built image.
          example: example_value
        config:
          $ref: '#/components/schemas/ObjectReference'
        output:
          type: object
          description: Build output details.
          properties:
            to:
              type: object
              properties:
                imageDigest:
                  type: string
                  description: >-
                    The image digest of the pushed image.
          example: example_value
        logSnippet:
          type: string
          description: >-
            The last few lines of the build log for failed builds.

          example: example_value
    BuildList:
      type: object
      description: A list of Build objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: build.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: BuildList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Build'

    # -------------------------------------------------------
    # BuildConfig - build.openshift.io/v1
    # -------------------------------------------------------

          example: []
    BuildConfig:
      type: object
      description: >-
        A BuildConfig defines the build strategy and source used to produce
        new container images. Builds can be triggered automatically by
        webhooks, image changes, or configuration changes.
      required:
      - spec
      properties:
        apiVersion:
          type: string
          default: build.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: BuildConfig
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/BuildConfigSpec'
        status:
          $ref: '#/components/schemas/BuildConfigStatus'

    BuildConfigSpec:
      type: object
      description: >-
        Specification of the desired BuildConfig behavior.
      properties:
        source:
          $ref: '#/components/schemas/BuildSource'
        strategy:
          $ref: '#/components/schemas/BuildStrategy'
        output:
          $ref: '#/components/schemas/BuildOutput'
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        triggers:
          type: array
          description: >-
            Triggers that cause new builds to be created.
          items:
            $ref: '#/components/schemas/BuildTriggerPolicy'
          example: []
        runPolicy:
          type: string
          description: >-
            Controls how builds from this config run concurrently.
          enum:
          - Serial
          - Parallel
          - SerialLatestOnly
          default: Serial
          example: Serial
        serviceAccount:
          type: string
          description: >-
            The ServiceAccount to run the build pod as.
          default: builder
          example: example_value
        completionDeadlineSeconds:
          type: integer
          format: int64
          description: >-
            Optional duration in seconds builds may be active before
            being terminated.
          example: 10
        successfulBuildsHistoryLimit:
          type: integer
          format: int32
          description: >-
            Number of successful builds to retain.
          example: 10
        failedBuildsHistoryLimit:
          type: integer
          format: int32
          description: >-
            Number of failed builds to retain.
          example: 10
        nodeSelector:
          type: object
          additionalProperties:
            type: string

          example: example_value
    BuildTriggerPolicy:
      type: object
      description: >-
        A policy that causes a new build to be created.
      properties:
        type:
          type: string
          description: The type of build trigger.
          enum:
          - GitHub
          - GitLab
          - Bitbucket
          - Generic
          - ImageChange
          - ConfigChange
          example: GitHub
        github:
          type: object
          properties:
            secret:
              type: string
              description: Secret value for the webhook URL.
            secretReference:
              type: object
              properties:
                name:
                  type: string
          example: example_value
        generic:
          type: object
          properties:
            secret:
              type: string
            secretReference:
              type: object
              properties:
                name:
                  type: string
            allowEnv:
              type: boolean
          example: example_value
        imageChange:
          type: object
          properties:
            from:
              $ref: '#/components/schemas/ObjectReference'
            lastTriggeredImageID:
              type: string

          example: example_value
    BuildConfigStatus:
      type: object
      description: >-
        Status of the BuildConfig.
      properties:
        lastVersion:
          type: integer
          format: int64
          description: >-
            The version of the last build created from this config.
          example: 10
        imageChangeTriggers:
          type: array
          items:
            type: object
            properties:
              lastTriggeredImageID:
                type: string
              from:
                $ref: '#/components/schemas/ObjectReference'

          example: []
    BuildConfigList:
      type: object
      description: A list of BuildConfig objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: build.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: BuildConfigList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/BuildConfig'

          example: []
    BuildRequest:
      type: object
      description: >-
        A request to instantiate a new build from a BuildConfig.
      properties:
        apiVersion:
          type: string
          default: build.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: BuildRequest
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        triggeredBy:
          type: array
          items:
            $ref: '#/components/schemas/BuildTriggerCause'
          example: []
        env:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'

    # -------------------------------------------------------
    # DeploymentConfig - apps.openshift.io/v1
    # -------------------------------------------------------

          example: []
    DeploymentConfig:
      type: object
      description: >-
        A DeploymentConfig describes the desired state of a particular
        application deployment. It creates ReplicationControllers to manage
        pods and supports rolling, recreate, and custom deployment strategies
        with automatic rollback.
      required:
      - spec
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfig
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/DeploymentConfigSpec'
        status:
          $ref: '#/components/schemas/DeploymentConfigStatus'

    DeploymentConfigSpec:
      type: object
      description: >-
        Specification for the desired deployment behavior.
      properties:
        replicas:
          type: integer
          format: int32
          description: >-
            The desired number of pod replicas.
          default: 1
          example: 10
        selector:
          type: object
          additionalProperties:
            type: string
          description: >-
            Label selector for pods managed by this deployment.
          example: example_value
        template:
          $ref: '#/components/schemas/PodTemplateSpec'
        strategy:
          $ref: '#/components/schemas/DeploymentStrategy'
        triggers:
          type: array
          description: >-
            Triggers that cause new deployments to be created.
          items:
            $ref: '#/components/schemas/DeploymentTriggerPolicy'
          example: []
        minReadySeconds:
          type: integer
          format: int32
          description: >-
            Minimum number of seconds a newly created pod should be ready
            without any of its containers crashing before considered
            available.
          example: 10
        revisionHistoryLimit:
          type: integer
          format: int32
          description: >-
            Number of old ReplicationControllers to retain for rollback.
          example: 10
        paused:
          type: boolean
          description: >-
            Indicates that the deployment config is paused and new
            deployments will not be triggered.
          example: true
        test:
          type: boolean
          description: >-
            If true, deployments are scaled down to zero after the
            deployment completes.

          example: true
    DeploymentStrategy:
      type: object
      description: >-
        Describes how to perform a deployment.
      properties:
        type:
          type: string
          description: The deployment strategy type.
          enum:
          - Rolling
          - Recreate
          - Custom
          default: Rolling
          example: Rolling
        rollingParams:
          $ref: '#/components/schemas/RollingDeploymentStrategyParams'
        recreateParams:
          $ref: '#/components/schemas/RecreateDeploymentStrategyParams'
        customParams:
          $ref: '#/components/schemas/CustomDeploymentStrategyParams'
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
        activeDeadlineSeconds:
          type: integer
          format: int64
          description: >-
            Duration in seconds that the deployer pods may be active before
            the system retries the deployment.

          example: 10
    RollingDeploymentStrategyParams:
      type: object
      description: >-
        Parameters for a rolling deployment strategy.
      properties:
        updatePeriodSeconds:
          type: integer
          format: int64
          description: >-
            The time to wait between individual pod updates.
          example: 10
        intervalSeconds:
          type: integer
          format: int64
          description: >-
            The time to wait between polling deployment status.
          example: 10
        timeoutSeconds:
          type: integer
          format: int64
          description: >-
            The time to wait for a scaling event before giving up.
          default: 600
          example: 10
        maxUnavailable:
          oneOf:
          - type: string
          - type: integer
          description: >-
            The maximum number of pods that can be unavailable during
            the update. Value can be an absolute number or a percentage.
          default: '25%'
          example: example_value
        maxSurge:
          oneOf:
          - type: string
          - type: integer
          description: >-
            The maximum number of pods that can be scheduled above the
            desired number of pods. Value can be an absolute number or
            a percentage.
          default: '25%'

          example: example_value
    RecreateDeploymentStrategyParams:
      type: object
      description: >-
        Parameters for a recreate deployment strategy.
      properties:
        timeoutSeconds:
          type: integer
          format: int64
          description: >-
            The time to wait for pods to terminate before giving up.
          default: 600

          example: 10
    CustomDeploymentStrategyParams:
      type: object
      description: >-
        Parameters for a custom deployment strategy.
      properties:
        image:
          type: string
          description: >-
            The container image that runs the custom deployment logic.
          example: example_value
        environment:
          type: array
          items:
            $ref: '#/components/schemas/EnvVar'
          example: []
        command:
          type: array
          items:
            type: string
          description: >-
            The command to execute in the custom deployer container.

          example: []
    DeploymentTriggerPolicy:
      type: object
      description: >-
        A policy that triggers new deployments.
      properties:
        type:
          type: string
          description: The type of deployment trigger.
          enum:
          - ConfigChange
          - ImageChange
          example: ConfigChange
        imageChangeParams:
          type: object
          description: >-
            Parameters for an ImageChange trigger.
          properties:
            automatic:
              type: boolean
              description: >-
                If true, deployments are automatically triggered when a
                new image is available.
            containerNames:
              type: array
              items:
                type: string
              description: >-
                Names of the containers to update when the image changes.
            from:
              $ref: '#/components/schemas/ObjectReference'
            lastTriggeredImage:
              type: string
              description: >-
                The image reference that triggered the last deployment.

          example: example_value
    DeploymentConfigStatus:
      type: object
      description: >-
        Status of the DeploymentConfig.
      properties:
        latestVersion:
          type: integer
          format: int64
          description: >-
            The version of the most recent deployment.
          example: 10
        observedGeneration:
          type: integer
          format: int64
          description: >-
            The most recent generation observed by the deployment controller.
          example: 10
        replicas:
          type: integer
          format: int32
          description: >-
            Total number of non-terminated pods targeted by this deployment.
          example: 10
        updatedReplicas:
          type: integer
          format: int32
          description: >-
            Total number of non-terminated pods that have the desired
            template spec.
          example: 10
        availableReplicas:
          type: integer
          format: int32
          description: >-
            Total number of available pods targeted by this deployment.
          example: 10
        unavailableReplicas:
          type: integer
          format: int32
          description: >-
            Total number of unavailable pods targeted by this deployment.
          example: 10
        readyReplicas:
          type: integer
          format: int32
          description: >-
            Total number of ready pods targeted by this deployment.
          example: 10
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentCondition'

          example: []
    DeploymentCondition:
      type: object
      description: >-
        Describes the state of a deployment at a point in time.
      properties:
        type:
          type: string
          description: The type of condition.
          enum:
          - Available
          - Progressing
          - ReplicaFailure
          example: Available
        status:
          type: string
          enum:
          - 'True'
          - 'False'
          - Unknown
          example: 'True'
        reason:
          type: string
          example: example_value
        message:
          type: string
          example: example_value
        lastUpdateTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        lastTransitionTime:
          type: string
          format: date-time

          example: '2026-01-15T10:30:00Z'
    DeploymentConfigList:
      type: object
      description: A list of DeploymentConfig objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfigList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentConfig'

          example: []
    DeploymentConfigRollback:
      type: object
      description: >-
        A request to roll back a deployment to a previous version.
      required:
      - name
      - spec
      properties:
        apiVersion:
          type: string
          default: apps.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: DeploymentConfigRollback
          example: example_value
        name:
          type: string
          description: >-
            Name of the deployment config to roll back.
          example: Example Title
        spec:
          type: object
          required:
          - from
          properties:
            from:
              $ref: '#/components/schemas/ObjectReference'
            revision:
              type: integer
              format: int64
              description: >-
                The revision to rollback to. If 0, the rollback target is
                the last successful deployment.
            includeTemplate:
              type: boolean
              description: >-
                If true, the rollback response includes the template of
                the rolled-back deployment.
            includeReplicationMeta:
              type: boolean
            includeStrategy:
              type: boolean
            includeTriggers:
              type: boolean

          example: example_value
    Scale:
      type: object
      description: >-
        Represents a scaling request for a resource.
      properties:
        apiVersion:
          type: string
          default: autoscaling/v1
          example: example_value
        kind:
          type: string
          default: Scale
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          type: object
          properties:
            replicas:
              type: integer
              format: int32
              description: >-
                The desired number of replicas.
          example: example_value
        status:
          type: object
          properties:
            replicas:
              type: integer
              format: int32
              description: >-
                The actual number of replicas.
            selector:
              type: string
              description: >-
                Label selector matching the pods managed by this deployment.

    # -------------------------------------------------------
    # Project - project.openshift.io/v1
    # -------------------------------------------------------

          example: example_value
    Project:
      type: object
      description: >-
        A Project provides a scope for Kubernetes resources, extending
        namespaces with additional metadata and access controls for
        multi-tenant environments.
      properties:
        apiVersion:
          type: string
          default: project.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: Project
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/ProjectSpec'
        status:
          $ref: '#/components/schemas/ProjectStatus'

    ProjectSpec:
      type: object
      description: >-
        Specification for the desired project state.
      properties:
        finalizers:
          type: array
          items:
            type: string
          description: >-
            Finalizers that must complete before the project is deleted.

          example: []
    ProjectStatus:
      type: object
      description: >-
        Current state of the project.
      properties:
        phase:
          type: string
          description: The lifecycle phase of the project.
          enum:
          - Active
          - Terminating
          example: Active
        conditions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              status:
                type: string
              reason:
                type: string
              message:
                type: string
              lastTransitionTime:
                type: string
                format: date-time

          example: []
    ProjectList:
      type: object
      description: A list of Project objects.
      required:
      - items
      properties:
        apiVersion:
          type: string
          default: project.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: ProjectList
          example: example_value
        metadata:
          $ref: '#/components/schemas/ListMeta'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Project'

          example: []
    ProjectRequest:
      type: object
      description: >-
        A request to create a new project. ProjectRequests are processed
        according to the cluster project request template and may include
        default resource quotas, limit ranges, and role bindings.
      required:
      - metadata
      properties:
        apiVersion:
          type: string
          default: project.openshift.io/v1
          example: example_value
        kind:
          type: string
          default: ProjectRequest
          example: example_value
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        displayName:
          type: string
          description: >-
            A human-readable name for the project, used in the web console.
          example: example_value
        description:
          type: string
          description: >-
            A longer description of the project purpose.

    # -------------------------------------------------------
    # Shared / Common schemas
    # -------------------------------------------------------

          example: A sample description.
    ObjectReference:
      type: object
      description: >-
        A reference to a Kubernetes object.
      properties:
        apiVersion:
          type: string
          example: example_value
        kind:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
        namespace:
          type: string

          example: example_value
    EnvVar:
      type: object
      description: >-
        An environment variable to set in a container.
      required:
      - name
      properties:
        name:
          type: string
          description: The environment variable name.
          example: Example Title
        value:
          type: string
          description: The environment variable value.

          example: example_value
    ResourceRequirements:
      type: object
      description: >-
        Compute resource requirements for a container.
      properties:
        limits:
          type: object
          additionalProperties:
            type: string
          description: >-
            Maximum compute resources allowed (e.g., cpu, memory).
          example: example_value
        requests:
          type: object
          additionalProperties:
            type: string
          description: >-
            Minimum compute resources required (e.g., cpu, memory).

          example: example_value
    PodTemplateSpec:
      type: object
      description: >-
        Describes the data a pod should have when created from a template.
      properties:
        metadata:
          $ref: '#/components/schemas/ObjectMeta'
        spec:
          $ref: '#/components/schemas/PodSpec'

    PodSpec:
      type: object
      description: >-
        Specification of the desired behavior of a pod.
      properties:
        containers:
          type: array
          description: List of containers in the pod.
          items:
            $ref: '#/components/schemas/Container'
          example: []
        initContainers:
          type: array
          description: List of initialization containers.
          items:
            $ref: '#/components/schemas/Container'
          example: []
        restartPolicy:
          type: string
          enum:
          - Always
          - OnFailure
          - Never
          default: Always
          example: Always
        serviceAccountName:
          type: string
          description: >-
            Name of the ServiceAccount to use for the pod.
          example: example_value
        nodeSelector:
          type: object
          additionalProperties:
            type: string
          example: example_value
        volumes:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              configMap:
                type: object
                properties:
                  name:
                    type: string
              secret:
                type: object
                properties:
                  secretName:
                    type: string
              persistentVolumeClaim:
                type: object
[...]
